.header {
  background-color: #1C1C21;
  
}
.nav__list {
   list-style-type: none;
   display: flex;
   margin-right: 132px;
   
}

.nav__item {
  display: flex;
  height: 56px;
  width: 178px;
  align-items: center;
  justify-content: center;
}
.nav__link {
  display: flex;
}
.nav {
  display: flex;
  align-items: center;
  height: 50px;
}
.profile_button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1C1C21;
  color: white;
  border: none;
  width: 207px;
  margin-left: 288px;
}
.profile-button:hover {
  cursor: pointer;
}

.nav__link_title{
  color: #F2F2F3;
}

.nav__link_text_active {
  color: #8585AD;
}
.header_wrapper {
  justify-content: center;
  display: flex;
  width: 1280px;
  margin: 0 auto;
  
}
.propfileLink {
  cursor: pointer;
  display: flex;
}