.ul {
  margin-top: 100px;



  align-items: flex-end;

}

.button {
  width: 215px;
}
.constructor__result {
  display: flex;
  justify-content: flex-end;
}
.constructor_sum {
  font-size: 48px;
  margin-right: 40px;
  display: flex;
  align-items: center;
}

.center {
  height: 440px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: 5px;
}

.test:not(:last-child){
  margin-bottom: 10px;
}


.center::-webkit-scrollbar {
  background: #2F2F37;
  width: 8px;
  
}
.center::-webkit-scrollbar-thumb {
  background: #8585AD;
}

.test {
  display: flex;
  position: relative;
  width: 593px;
  justify-content: flex-end;
 
}

.test2 {
  position: absolute;
  left: 17px;
  top: 25px;
}

