* {
  margin:0;
  padding: 0;

}


.header {
  width: 1920px;
}
.main {
  width: 1225px;
  margin: 0 auto;
 
 
}
a {
  text-decoration: none;
}
.main__container {
  display: flex;
  justify-content: space-between;
}